body {
  background-image: url("/src/Images/fitz-roy-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  color: antiquewhite;
}

/* Clock Style */

.time{
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 1em;
}

