html {
  margin: 0;
  padding:0;
  scroll-behavior: smooth;
}

body {
  background-image: url("/src/Images/small-fitz-roy.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

@media only screen and (min-device-width: 400px) {
  body {
    background-image: url("/src/Images/fitz-roy-hero.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
  }
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  padding: 8px;
}

/* Clock Style */

.time{
  position: absolute;
  font-size: 12px;
  top: 0;
  right: 0;
  margin-right: 1em;
  text-align: center;
}

/* About Me Style */
  .aboutMe {
    height: 120vh;
    background-image: url('./Images/cerro-calafate.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
  }

  @media screen and (max-width: 400px) {
.aboutMe {
  height: 100vh;
  background-image: url('./Images/small-cerro-calafate.png');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  }
}

.aboutMe-text {
  margin: 0;
  padding-top: 25px;
  text-align: center;
}

/* Projects Style */

.projects-text{
  margin: 0;
  padding-top: 50px;
  color: aliceblue;
}

.projects-links {
  text-decoration:  none;
  padding: 0;
  margin: 0;
  color: aliceblue;
  position: absolute;
}

.projects-links:hover {
  color: antiquewhite;
  padding: 0;
  margin: 0 0 0 1px;
}


.projects {
  background-image: url('/src/Images/constellations.jpg');
  background-size: cover;
  height: 100vh;
}



.Contact {
  height: 100vh;
  background-color: olive;
}

